@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

html ,body{
    height: 100%;
    width: 100%;
    font-family: "Roboto" sans-serif;
    color: #222;
}

.navbar{
    padding: 128px;
}

.navbar-nav li{
    padding-right: 20px;
}

.nav-link{
    padding: 1.1em !Important;
    background-color: #4a4f4f;
}

.carousel-inner img{
    width: 100vw;
    height: 100vh;
}

.carousel-caption{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1{
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 2px 2px 15px #000;
}

.carousel-caption h3{
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem;
}

.jumbotron{
    padding: 1rem;
    border-radius: 0;
}

.padding{
    padding-bottom: 4rem;
}

.about{
    width: 75%;
    margin: 0 auto;
    padding-top: 5rem;
}

.about hr{
    border-top: 2px solid #b4b4b4;
    width: 95%;
    margin-top: .3rem;
    margin-bottom: 1rem;
}

.menu{
    width: 50%;
    margin: 0 auto;
    padding-top: 2rem;
}